body {
  color: #40514E;
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
  vertical-align: middle;
}

h1 {
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
}

h3 {
  color: #645ca7;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  color: #645ca7;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  color: #f6c7c7;
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 5%;
  text-align: center;
}

p{
  line-height: 2;
}

.bottom-container {
  background-color: #afa8d0;
  line-height: 4;
  margin-top: 50px;
  padding: 40px 0 20px;
  text-align: center;
}

.brain {
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.button{
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
color: #FFFFFF;
font-family: monospace;
font-size: 18px;
font-weight: 300;
margin-top: 25px;
padding: 15px;
background-color: #645CA7;
-webkit-box-shadow: 1px 1px 6px 0 #645CA7;
-moz-box-shadow: 1px 1px 6px 0 #645CA7;
box-shadow: 1px 1px 6px 0 #645CA7;
text-shadow: 1px 1px 6px #000000;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
}

.button:hover {
background: #afa8d0;
background-image: -webkit-linear-gradient(top, #afa8d0, #645CA7);
background-image: -moz-linear-gradient(top, #afa8d0, #645CA7);
background-image: -ms-linear-gradient(top, #afa8d0, #645CA7);
background-image: -o-linear-gradient(top, #afa8d0, #645CA7);
background-image: linear-gradient(to bottom, #afa8d0, #645CA7);
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-decoration: none;
}

.contact-me {
  position: relative;
  width: 50%;
  margin: auto;
}

.contact-text{
  width: 60%;
  margin: 30px auto 50px;
}

.copyright{
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.chef {
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.footer-link{
  color: #645ca7;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 3%;
  text-decoration: none;
}

.footer-link:hover{
  color: white;
}

.middle-container {
  margin: 100px auto 0 auto;
}

.phone-pic{
  width: 25%;
}

.intro{
  line-height: 2;
  width:30%;
  margin: auto;
}

.profile-pic{
  width: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 0 auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #afa8d0;
  height: 710px;
  position: relative;
}

.top-image {
  position: absolute;
  right: 0;
}

.top-text {
  position: absolute;
  top: 22%;
  left: 12%;
}
